sudo: required
dist: trusty
language: node_js
node_js:
  - "node"
env:
  - DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true
before_install:
  # Repo for Yarn
  - sudo apt-key adv --fetch-keys http://dl.yarnpkg.com/debian/pubkey.gpg
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq yarn
  # Repo for dotnet
  - sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 417A0893
  - sudo apt-get update
  - sudo apt-get install dotnet-dev-1.0.0-rc4-004771
cache: yarn
script:
  # Restore dotnet projects and build
  - dotnet restore && dotnet build
  # Loop through test projects and run tests
  - for file in tests/**/project.csproj; do dotnet test $file; done
  # Restore Yarn packages and run tests
  - cd ./src/ElectricFreedom.Web.Scripts && yarn --ignore-optional && yarn test
