sudo: required
dist: trusty
language: node_js
node_js:
  - "node"
before_install:
  # Set execute permissions for build script
  - chmod +x ./build.sh
  # Repo for Yarn
  - sudo apt-key adv --fetch-keys http://dl.yarnpkg.com/debian/pubkey.gpg
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq yarn
  # Repo for dotnet
  - sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 417A0893
  - sudo apt-get update
  - sudo apt-get install dotnet-dev-1.0.0-preview2.1-003177
cache:
  directories:
    - $HOME/.yarn-cache
# install:
#   - cd ./src/ElectricFreedom.Web.Scripts && yarn
script:
  - dotnet restore
  - dotnet build **/project.json
#   - cd ./src/ElectricFreedom.Web.Scripts && yarn test
