sudo: required
dist: trusty
language: node_js

node_js:
  - "node"

env:
  # Improve .Net and Nuget performance
  - DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true NUGET_XMLDOC_MODE=skip

before_install:
  # Repo for dotnet
  - sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 417A0893
  - sudo apt-get update
  - sudo apt-get install dotnet-dev-1.0.0-rc4-004771

cache:
  yarn: true # Cache for Yarn packages
  directories:
    - $HOME/.nuget/packages # Cache for Nuget packages

script:
  # Restore dotnet projects
  - dotnet restore
  # Build dotnet projects
  - dotnet build
  # Loop through test projects and run tests
  - for file in tests/**/**/project.csproj; do dotnet test --no-build $file; done
  # Change to the scripts web project directory
  - cd ./src/web/ElectricFreedom.Web.Scripts
  # Restore Yarn packages
  - yarn --ignore-optional
  # Run Javascript tests
  - yarn test
